[Unit]
Description=pretix background worker
After=network.target

[Service]
User={{ pretix_user }}
Group={{ pretix_user }}
Environment="VIRTUAL_ENV={{ pretix_venv }}"
Environment="PATH={{ pretix_venv }}/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ pretix_venv }}/bin/celery -A pretix.celery_app worker -l info
WorkingDirectory={{ pretix_home_folder }}
Restart=on-failure

[Install]
WantedBy=multi-user.target